* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myLogo {
    font-family: 'Roboto Slab', serif;
    color: #f2f2f2;
}

.myLogo:hover {
    color: #B7D437;
}

.logoMark {
    width: 40px;
}

.navLink {
    display: flex;
}

.navLink li a {
    color: #f2f2f2;
}

.navLink li a:hover {
    color: #B7D437;
}

.navLink li a:focus {
    color: #B7D437;
}

.navMenuSmall {
    display: none;
}

#navMenuIcon {
    color: #f2f2f2;
    cursor: pointer;
}

#navMenuIcon:hover {
    color: #B7D437;
}


/* For smaller screens */
@media only screen and (max-width: 768px) {
    .navMenuSmall {
        display: block;
    }

    .navLink {
        display: none;
    }
}
